trigger: none   # Build is handled by GitHub Actions

stages:
  - stage: Deploy
    displayName: Deploy to Azure Web App
    jobs:
      - deployment: DeployFastAPI
        displayName: Deploy FastAPI from Docker Hub
        environment: example
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureWebAppContainer@1
                  displayName: Deploy container to Azure Web App
                  inputs:
                    azureSubscription: '1a9fd121-57a1-4599-9a24-d2d1b348b8a1'
                    appName: 'aymanexample1'
                    containers: docker.io/aymanelsayeed/githubactions:latest
