trigger: none   # Build is handled by GitHub Actions

stages:
  - stage: Deploy
    displayName: Deploy to Azure Web App
    jobs:
      - deployment: DeployFastAPI
        displayName: Deploy FastAPI from Docker Hub
        environment: example
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureWebAppContainer@1
                  displayName: Deploy container to Azure Web App
                  inputs:
                    azureSubscription: 'de7b8a46-269f-4468-9097-4c64949af360'
                    appName: 'aymanexample1'
                    containers: docker.io/aymanelsayeed/githubactions:latest
